<header>
	<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
	<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
	<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Zilla+Slab:300" rel="stylesheet">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

  <link href="https://getbootstrap.com/docs/4.4/examples/blog/" rel="stylesheet">

  <link href="https://getbootstrap.com/docs/4.4/examples/carousel/" rel="stylesheet">

</header>
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
       
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#"></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        
        <a class="btn btn-sm btn-outline-secondary" class="p-4 mb-3 bg-light rounded" href="#">Log Out</a>
      </div>
    </div>
  </header>

<nav class="navbar">
	<h1>
		Melanin Mogul

		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link " href="https://melanin-mogul-blog-april.stackblitz.io">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://melanin-mogul-about.stackblitz.io">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://melanin-mogul-diary-april.stackblitz.io">Diary
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://melanin-mogul-advice-april.stackblitz.io">Advice
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://melanin-mogul-contact-april.stackblitz.io">Contact Us</a>
			</li>
		</ul>
	</h1>
</nav>
<hr class="featurette-divider">

<div class="container" >
     
</div>

<div class="container">
	<div class="container">
<h3 style="text-align:center, color: grey">MEET THE FOUNDERS</h3>
         <div style="text-align:center">
       <img src="https://kpuv3w.by.files.1drv.com/y4m5rwL5sFUF42mehHDxUdTUh604uNOC1-ABhBmP8cIM-QLAYvVyamA5L0am_9mYXwX0bvUrYAEpqS-kftuOrZkUb5shBRVfYHjwZei66NmKDdtpbWDKTvi6MNZjQlqFizH4FzjFtJgl8hAXeFaq4SmsoEgMyGeKvR6-MLhLAUUn_hRqPf0v8nU1XpPaXUrMLJRFtGKBuwvH6SzUNZ-nlmFag?width=2000&height=1428&cropmode=none" width="350" height="300" class="center" style="border:solid; border-width:thick; border-color:grey"/>
       <br>
       <p style="color: white">
          Melanin Mogul founders Da'Mya Campbell and Shantiuna Sanchez met as sophomores while studying Computer Science at North Carolina A&T State University. The dynamic duo have been inseperable from the first time they collaborated on programming project in Cherry Hall. From winning hack-a-thons to securing full-time jobs, it has always been their mission to push one another to their fullest potential. The mission has now evovled into inspiring others to strive for success. 
        </p>
        </div>
		<div class="row">

			<div style="text-align:center">

				<h3 style="text-align:center">THE VISION</h3>
				<p style="color: white"> Our vision is to create a safe web-based community. As seniors in college, we have seen that there is a
					lack of life guiding resources for black female college students. We want to bridge the gap 
			    and provide them with tools that will set them up for success. Though every student’s college experience will differ, we want to share content from our college experience that will serve as guidance and hopefully help them become true Melanin Moguls.
					
				</p>

				<br>

				<h3 style="text-align:center">THE MISSION</h3>
				<p style="color: white"> Our mission is to empower and connect black female college students. We will provide them with tips that will help them matriculate through college. The Melanin Mogul platform will provide blog styled content about life in college and allow users to share their opinions and thoughts on the topics we discuss. Every month the platform will be updated with resources that users can read, watch, and listen to. There will also be a diary feature that will allow each user to personalize the resources we provide and reflect on them to meet personal goals. 
				</p>

				<br>
				<br>

       </div>
			</div>
		</div>
	</div>		
  
	<br>
	<br>
	<br>
	<br>

	<footer class="navbarfooter">
		<div class="navbar-text">
			Melanin Mogul ♛
		</div>
	</footer>